.App {
    text-align: center;
    
}

html {
    background-image: url("../src/static/notepad2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    font-family: monospace;
    letter-spacing: 1px;
    margin-top: 12%;
}

.button {
    border-radius: 15%;
    margin-left: 2%;
    color: white;
    background-color: green;
    text-shadow: none;
    border: 2em;
}

.close {
    border-radius: 15%;
    background-color: none;
    color: red;
    text-shadow: none;
    border: none;
    font-size: 16px;
    margin-top: 3%;
}

.todoItem {
    padding-top: 1%;
}
